<!---------- TEXT COMPONENT: PAGE TITLE BOX ---------->
    <main class="page-container">
        <div class="page-rectangle" id="rectangle-left">
            <h1 id="title">About Me</h1>
            <i class="fa fa-angle-double-down" id="arrow-down"></i>
        </div>

        <div class="page-content">
            <div class="content-box" id="about-me-box">

                <!---------- TEXT COMPONENT: EXPERIENCE ---------->
                <section class="content-text">
                    <h2 class="content-titles">Experience</h2>
                    <div class="content-text-wrapper">
                        <p class="left">
                            Well, <em>hello!</em> Thanks for dropping in. I'm Angela Johnson. But you can
                            call me AJ. I'm a Melbourne-based aspiring web developer, currently completing my Diploma of
                            IT in
                            full-stack web development at Coder Academy.
                        <p class="right">
                            After receiving my Bachelor's Degree in Agribusiness 2015 (UQ), I worked in
                            corporate agribusiness finance for 4 years, before travelling the world.
                        <p class="left">
                            The journey I took opened my eyes to the possibilities that this big blue dot
                            really holds. I landed a job running operations for a YC-backed fintech startup in San
                            Francisco, helping immigrants access financial freedom in the US.</p>
                        <p class="right">
                            I realised then, <em>I</em> wanted to one of the builders -- that actually
                            brought about real-world change and affected peoples lives in a tangible way. That's when I
                            applied to Coder Academy.</p>
                        <p class="left">
                            As a passionate philomath, I'm excited to continue to learn so I can find my
                            niche in this industry.
                        </p>
                    </div>
                </section>

                <!---------- GRAPHICAL COMPONENT: SKILLS ---------->
                <section class="content-text">
                    <h2 class="content-titles">Skills</h2>
                    <div class="content-text-wrapper">
                        <div class="icon-container">
                        <%= image_tag "/images/html-icon.png", class: "skill-icons", alt: "html icon", width: 100 %>
                        <%= image_tag "/images/css-icon.png", class: "skill-icons", alt: "html icon", width: 100 %>
                        <%= image_tag "/images/sass-icon.png", class: "skill-icons", alt: "html icon", width: 100 %>
                        <%= image_tag "/images/git-icon.png", class: "skill-icons", alt: "html icon", width: 100 %>
                        </div>
                    </div>
                </section>

                <!---------- TEXT COMPONENT: 21 THINGS ---------->
                <section class="content-text">
                    <h2 class="content-titles">21 Things</h2>
                    <div class="content-text-wrapper">
                        <ol id="twenty-one-things">
                            <li>I adore open world games (Breath of the Wild, GTA, No Man's Sky, Star Wards Jedi: Fallen
                                Order... you name it). Something about having endless adventuring possibilities really
                                speaks to my soul. Dat COVID lockdown fever.</li>
                            <li>I am fascinated by all things psychology. I love understanding how the brain works.</li>
                            <li>I believe the only person who can make you happy is you</li>
                            <li>I am OBSESSED with Asian cuisine - Vietnamese and Japanese particularly. </li>
                            <li>I worked at a Fintech startup in San Francisco through 2020-21.</li>
                            <li>I am utterly in love with vinyl. My favourite record that I own is Janis Joplin's
                                'Pearl'.</li>
                            <li>My parents own Brisbane's longest running independent vinyl/music/pop culture stores.
                            </li>
                            <li>I'm overwhelmingly empathetic (thanks Mum)</li>
                            <li>I cannot stand butterflies.</li>
                            <li>I love cross country running and used to compete.</li>
                            <li>I have travelled to 17 countries: Canada, USA, Japan, Prague, Germany, Czech Republic,
                                The Netherlands, Italy, Greece, France, Austria, Switzerland, UK, Spain, Fiji, Vanuatu,
                                New Zealand.</li>
                            <li>My spirituality comes directly from nature. I am happiest surrounded by green trees and
                                blue skies. </li>
                            <li>I boogied alongside Justin Trudeau at the 2019 Pride Parade in Vancouver, Canada.</li>
                            <li>I LOVE cinema (Coen Brothers, Tarantino, Scorsese, Wes Anderson).</li>
                            <li>I am desperately and hopelessly in love with the Beatles.</li>
                            <li>I have played Zelda: Ocarina of Time over 100 times (no regrets)</li>
                            <li>I love to explore. The world is too big and too diverse to not get a taste of every inch
                                of it.</li>
                            <li>I am an introverted extrovert. I love human connection, meeting new people and
                                understanding how people tick. But I also get a lot of fulfilment out of being alone,
                                immersed in a game or on a hike/run with nothing but my thoughts (and music!)</li>
                            <li>I've always been drawn to male-dominated fields (Agriculture/tech). Perhaps it's the
                                challenge that intrigues me ;)</li>
                            <li>I am super family oriented. I grew up with a very close-knit family and love spending
                                time with them.</li>
                            <li>I love humour. I love making people laugh, even if its at my own expense. I think Jim
                                Carrey might be one of the funniest (and most insane) humans of all time. Pete Davidson
                                also never fails to make me giggle.</li>
                        </ol>
                    </div>
                </section>
            </div>
        </div>
    </main>