<!---------- TEXT COMPONENT: WELCOME, INTRO AND SUMMARY ---------->
    <main class="main-container">
        <h1 id="title">Hi! I'm AJ.</h1>
        <h2 id="subtitle"> Aspiring web developer, philomath, avid traveller, vinyl collector, cinephile, game lover.
        </h2>

<!---------- TEXT COMPONENT: CALL TO ACTION ---------->
    <div class="call-to-action">
        <a href="./Images/Resume-mockup.pdf" target="_blank" download> resume (pdf)
            <i class="material-icons" id="download">download_for_offline</i></a>
    </div>
    </main>

    <footer>
        <div class="footer-container">

            <div class="contact-links">

            <%= link_to image_tag("/images/linkedin-logo.png"), 'https://www.linkedin.com/in/angieloux', class: "link", alt: "Linkedin Logo", width: 40, height: 40, target: "_blank" %>
                    <%= link_to image_tag("/images/github-logo.png"), 'https://github.com/angieloux', class: "link", alt: "Github Logo", width: 40, height: 40, target: "_blank" %>
                    <%= link_to image_tag("/images/twitter-logo.png"), 'https://twitter.com/angie_loux', class: "link", alt: "Twitter Logo", width: 40, height: 40, target: "_blank" %>
            </div>
        </div>
    </footer>