<!---------- TEXT COMPONENT: WELCOME, INTRO AND SUMMARY ---------->
    <main class="main-container">
        <h1 id="title">Hi! I'm AJ.</h1>
        <h2 id="subtitle"> Aspiring web developer, philomath, avid traveller, vinyl collector, cinephile, game lover.
        </h2>

<!---------- TEXT COMPONENT: CALL TO ACTION ---------->
    <div class="call-to-action">
        <a href="./Images/Resume-mockup.pdf" target="_blank" download> resume (pdf)
            <i class="material-icons" id="download">download_for_offline</i></a>
    </div>
    </main>