<!---------- TEXT COMPONENT: PAGE TITLE BOX ---------->
    <main class="page-container">

        <div class="page-rectangle">
            <h1 id="title">Projects</h1>
            <i class="fa fa-angle-double-down" id="arrow-down"></i>
        </div>

        <!---------- GRAPHICAL COMPONENT: PROJECT IMAGE & SUMMARY ---------->
        <div class="page-content">
            <article class="content-box">
                <img src="/Images/Project1.png" class="project-image" width=300 height=200 height=200 alt="5 colourful umbrellas floating in the sky">
                <h2 class="content-titles">Silly Colourful Umbrellas</h2>
                <div class="content-text">
                    <div class="content-text-wrapper">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptate aliquam vitae.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis inventore dolores eos?
                        </p>
                    </div>
                </div>
            </article>
            
            <!---------- GRAPHICAL COMPONENT: PROJECT IMAGE & SUMMARY ---------->
            <article class="content-box">
                <img src="./Images/Project2.png" class="project-image" width=300 height=200 alt="A computer screen with a background showing a yellow couch, with red and green cushions">
                <h2 class="content-titles">The Yellow Couch</h2>
                <div class="content-text">
                    <div class="content-text-wrapper">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptate aliquam vitae.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis inventore dolores eos?
                        </p>
                    </div>
                </div>
            </article>

            <!---------- GRAPHICAL COMPONENT: PROJECT IMAGE & SUMMARY ---------->
            <article class="content-box">
                <img src="./Images/Project3.png" class="project-image" width=300 height=200 alt="A computer screen showing a T shaped blue and black logo">
                <h2 class="content-titles">T-shaped App</h2>
                <div class="content-text">
                    <div class="content-text-wrapper">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptate aliquam vitae.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis inventore dolores eos?
                        </p>
                    </div>
                </div>
            </article>

            <!---------- GRAPHICAL COMPONENT: PROJECT IMAGE & SUMMARY ---------->
            <article class="content-box">
                <img src="./Images/Project4.png" class="project-image" width=300 height=200 alt="A computer screen showing various graphs and data">
                <h2 class="content-titles">Squiggly Lines</h2>
                <div class="content-text">
                    <div class="content-text-wrapper">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptate aliquam vitae.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis inventore dolores eos?
                        </p>
                    </div>
                </div>
            </article>

            <!---------- GRAPHICAL COMPONENT: PROJECT IMAGE & SUMMARY ---------->
            <article class="content-box">
                <img src="./Images/Project5.png" class="project-image" width=300 height=200 alt="A person writing on a board full of colourful post-it notes">
                <h2 class="content-titles">Endless Sticky Notes</h2>
                <div class="content-text">
                    <div class="content-text-wrapper">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptate aliquam vitae.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis inventore dolores eos?
                        </p>
                    </div>
                </div>
            </article>

            <!---------- GRAPHICAL COMPONENT: PROJECT IMAGE & SUMMARY ---------->
            <article class="content-box">
                <img src="./Images/Project6.png" class="project-image" width=300 height=200 alt="A person sitting at a desk with a cup of coffee and a laptop">
                <h2 class="content-titles">Morning Cuppa</h2>
                <div class="content-text">
                    <div class="content-text-wrapper">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus voluptate aliquam vitae.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis inventore dolores eos?
                        </p>
                    </div>
                </div>
            </article>
        </div>
    </main>